# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Docs
site/

# Data (LFS gère les gros fichiers, gitignore protège le reste)
data/*
!data/.gitkeep

# Notebooks
.ipynb_checkpoints/
