site_name: "{{ project_name }}"
site_description: "{{ project_description }}"
{% if ci_provider != "none" %}
repo_url: "{{ repository_url }}"
{% endif %}

theme:
  name: material
  palette:
    - scheme: default
      primary: indigo

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]

nav:
  - Home: index.md
