{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": ["config:base"],
  "regexManagers": [
    {
      "fileMatch": ["^Dockerfile$"],
      "matchStrings": [
        "COPY --from=ghcr\\.io/astral-sh/uv:(?<currentValue>[\\d.]+)"
      ],
      "datasourceTemplate": "docker",
      "depNameTemplate": "ghcr.io/astral-sh/uv",
      "versioningTemplate": "semver"
    }
  ]
}
